#calculator-container {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

#calculator-container h1 {
    font-family: sans-serif;
    font-size: 3rem;
    color: hsl(272, 57%, 25%);
    margin-bottom: 20px;
    margin-top: 70px;
    animation: backgroundAnimation 20s infinite linear alternate;
}
@keyframes backgroundAnimation {
    0% {
        color:  hsl(229, 18%, 83%);
    }
    50% {
        color: hsl(272, 57%, 25%);
    }
    100% {
        color:   hsl(229, 18%, 83%);
    }
}


/* body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(229, 18%, 83%);

} */
body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: hsl(229, 18%, 83%);
    animation: backgroundAnimation 20s infinite linear alternate;
}

@keyframes backgroundAnimation {
    0% {
        background-color: hsl(228, 69%, 16%);
    }
    50% {
        background-color: hsl(229, 50%, 83%);
    }
    100% {
        background-color:  hsl(228, 69%, 16%);
    }
}


/* #calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    border: px solid black;
} */
#calculator {
    font-family: Arial, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 500px;
    overflow: hidden;
    position: relative;
    z-index: 1;
    border: 10px solid rgba(8, 62, 112, 0.134);
    animation: borderAnimation 5s infinite alternate;
}

@keyframes borderAnimation {
    0% {
        border-color:rgba(8, 62, 112, 0.134) ;
    }
    50% {
        border-color: rgba(220, 225, 225, 0.337);
    }
    100% {
        border-color: rgba(8, 62, 112, 0.134);
    }
}


#display {
    width: 100%;
    padding: 20px;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;

}

#keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

button {
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 3rem;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background-color: hsl(0, 0%, 40%);
}

button:active {
    background-color: hsl(0, 0%, 50%);
}

.operator-btn {
    background-color: hsl(35, 100%, 55%);
}

.operator-btn:hover {
    background-color: hsl(35, 100%, 65%);
}

.operator-btn:active {
    background-color: hsl(35, 100%, 75%);
}